.App{
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px 0 10px 20px;
}

.header h1{
  color: white;
}

.searchInput{
  width: 100%;
  text-align: end;
}

.searchInput input {
  width: 50%;
  height: 20px;
  border-radius: 5px;
}

.movieList h1{
  padding: 20px;
}

.carousel {
  display: flex;
  width: 100%;
  height: 340px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: center;
}

.carousel::-webkit-scrollbar {
  width: 12px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: transparent;
}


.carousel .movie{
  display: inline-block;
  width: 200px;
  height: 300px;
  margin-right: 10px; 
}

.carouselFav{
  width: 100%;
  height: auto;
}

.carouselFav .movie{
  display: inline-block;
  width: 200px;
  height: 300px;
  padding: 0 0 0 20px;
  transition: transform 0.3s ease-in-out;
}

.movie-wrapper {
  width: 200px;
  transition: transform 0.3s ease-in-out;
  height: 300px;
  position: relative;
  padding: 0 0 0 20px;
}

.movie:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.movie-wrapper .overlay {
  font-size: 12px;
  color: white;
  opacity: 0;
  background-color: black;
  height: 30px;
  padding: 10px;
  text-align: center;
  width: 100%;
  bottom: -20px;
  left: 0px;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.overlay svg {
  padding: 5px 0 0 5px;
}

.movie-wrapper:hover .overlay{
  opacity: 0.7;
  cursor: pointer;
}

.favorites h1{
  padding: 0 0 0 20px;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 12px;
  background-color: black;
  color: #6d6d6d;
  text-align: left;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.footer a{
  padding: 0 0 0 5px;
  color: red;
}